textarea {
    min-height: 400px;
}

.email-card {
    border: 1px solid black;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 5px;
}
.email-card:hover{
    cursor: pointer;
    box-shadow: 3px 6px 34px -4px rgba(0,0,0,0.5);
-webkit-box-shadow: 3px 6px 34px -4px rgba(0,0,0,0.5);
-moz-box-shadow: 3px 6px 34px -4px rgba(0,0,0,0.5);
}

.email-card-body {
    display: flex;
    flex-direction: column;
}

.email-card-timestamp {
    white-space: nowrap; 
}
.unread{
    background-color: white;
}
.read{
    background-color: gray;
}